<launch>
  
  <node pkg="pbot_beeper" type="beeper_subscriber.py" name="beeper" output="screen">
  </node>
  
  <node pkg="pbot_motors" type="motors_wrapper.py" name="pbot_motors" output="screen">
  </node>

  <node pkg="pbot_servos" type="servos_wrapper.py" name="pbot_servos" output="screen">
  </node>

  <node pkg="pbot_cam_servos" type="cam_servos_wrapper.py" name="pbot_cam_servos" output="screen">
  </node>

  <node pkg="pbot_joy_converter" type="joy_converter.py" name="pbot_joy_converter" output="screen">
  </node>

  <rosparam file="$(find pbot_base)/config/foxglove_config.yaml" command="load" />
  <node pkg="foxglove_bridge" type="foxglove_bridge_server" name="foxglove_bridge_server"
  output="screen" args="--config-file $(find pbot_base)/config/foxglove_config.yaml"/>


  <!-- main nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen" clear_params="true">
        <param name="num_worker_threads" value="4"/>
  </node>

    <!-- camera node - настройка публикации изображения с помощью модуля cv_camera -->
  <node pkg="nodelet" type="nodelet" name="main_camera" args="load cv_camera/CvCameraNodelet nodelet_manager" clear_params="true">
        <param name="frame_id" value="main_camera_optical"/>
	<!-- setting camera FPS -->
        <param name="rate" value="100"/>
        <param name="cv_cap_prop_fps" value="40"/>
        <param name="image_width" value="640"/>
        <param name="image_height" value="480"/>
  </node>

</launch>
