<launch>

  <arg name="model" default="$(find pbot_description)/urdf/pbot.xacro" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  
  <node pkg="pbot_beeper" type="beeper_subscriber.py" name="beeper" output="screen">
  </node>
  
  <node pkg="pbot_motors" type="motors_wrapper.py" name="pbot_motors" output="screen">
  </node>

  <node pkg="pbot_servos" type="servos_wrapper.py" name="pbot_servos" output="screen">
  </node>

  <node pkg="pbot_cam_servos" type="cam_servos_wrapper.py" name="pbot_cam_servos" output="screen">
  </node>

  <node pkg="pbot_special_mode" type="tracker.py" name="special_move" output="screen">
  </node>

  <node pkg="pbot_ultrasound" type="ultrasound_wrapper.py" name="ultrasound" output="screen">
  </node>

  <node pkg="pbot_jointer" type="jointer.py" name="jointer" output="screen">
  </node>

  <node pkg="pbot_joy_converter" type="joy_converter.py" name="pbot_joy_converter" output="screen">
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <rosparam file="$(find pbot_base)/config/foxglove_config.yaml" command="load" />
  <node pkg="foxglove_bridge" type="foxglove_bridge" name="foxglove_bridge"
  output="screen" args="--config-file $(find pbot_base)/config/foxglove_config.yaml"/>


  <!-- main nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen" clear_params="true">
        <param name="num_worker_threads" value="4"/>
  </node>

  <!-- Запуск ноды rplidar_composition -->
    <node
        pkg="rplidar_ros"
        type="rplidar_composition"
        name="rplidar_composition"
        output="screen">

        <!-- Параметры для ноды -->
        <param name="serial_port" value="/dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.3:1.0-port0" />
        <param name="frame_id" value="laser_frame" />
        <param name="angle_compensate" value="true" />
        <param name="scan_mode" value="Standard" />
    </node>

    <!-- camera node - настройка публикации изображения с помощью модуля cv_camera -->
  <node pkg="nodelet" type="nodelet" name="main_camera" args="load cv_camera/CvCameraNodelet nodelet_manager" clear_params="true">
        <param name="frame_id" value="main_camera_optical"/>
	<!-- setting camera FPS -->
        <param name="rate" value="100"/>
        <param name="cv_cap_prop_fps" value="40"/>
        <param name="image_width" value="640"/>
        <param name="image_height" value="480"/>
  </node>

</launch>
