<?xml version="1.0" encoding="utf-8"?>
<robot
        xmlns:xacro="http://www.ros.org/wiki/xacro"
        name="pbot">
    <link name="pbot_ultrasonic">
        <visual>
            <geometry>
                <box size="0.01 0.01 0.02"/>
            </geometry>
            <material name="Red"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.01 0.045 0.02"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </inertial>
    </link>

    <joint name="pbot_ultrasonic_base" type="fixed">
        <parent link="base_link"/>
        <child link="pbot_ultrasonic"/>
        <origin xyz="0.12 0 0.02" rpy="0 0 0"/> <!-- Позиция и ориентация датчика -->
    </joint>

    <!-- Определение датчика без плагина Gazebo -->
    <sensor name="pbot_ultrasonic_sensor" type="ray">
        <update_rate>10</update_rate>
        <ray>
            <scan>
                <horizontal>
                    <samples>100</samples>
                    <resolution>1</resolution>
                    <min_angle>-0.5236</min_angle> <!-- -30 degrees -->
                    <max_angle>0.5236</max_angle> <!-- 30 degrees -->
                </horizontal>
            </scan>
            <range>
                <min>0.02</min>
                <max>4.0</max>
                <resolution>0.01</resolution>
            </range>
        </ray>
        <!-- Удалите или закомментируйте плагин Gazebo -->
        <!--
        <plugin name="gazebo_ros_ray_sensor" filename="libgazebo_ros_ray_sensor.so">
            <topicName>/range</topicName>
            <frameName>ultrasonic_sensor_link</frameName>
        </plugin>
        -->
    </sensor>

</robot>