<?xml version="1.0" encoding="utf-8"?>
<robot
        xmlns:xacro="http://www.ros.org/wiki/xacro"
        name="pbot">
    <link
            name="laser_frame">
        <inertial>
            <origin
                    xyz="0.00208191942450915 3.97647389113363E-18 -0.00385299208880718"
                    rpy="0 0 0"/>
            <mass
                    value="0.968613348864223"/>
            <inertia
                    ixx="0.000334583006933795"
                    ixy="-5.24034614619688E-20"
                    ixz="1.81259849319653E-21"
                    iyy="0.000411095059912044"
                    iyz="-3.29708352475897E-21"
                    izz="0.000675110546906932"/>
        </inertial>
        <visual>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <geometry>
                <mesh
                        filename="package://pbot_description/meshes/laser_frame.STL"/>
            </geometry>
            <material name="Red"/>
        </visual>
        <collision>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <geometry>
                <mesh
                        filename="package://pbot_description/meshes/laser_frame.STL"/>
            </geometry>
        </collision>
    </link>
    <joint
            name="laser_joint"
            type="fixed">
        <origin
                xyz="0.0039648 0 0.12415"
                rpy="0 -0.016609 3.1416"/>
        <parent
                link="pbot_base"/>
        <child
                link="laser_frame"/>
        <axis
                xyz="0 0 0"/>
    </joint>

</robot>